{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/music_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/my_music.css'%}" />


{% endblock %}

{#    start mod_profile#}
{% block main %}

<div class="mod_profile" style="">
    <div class="section_inner">
        <div class="profile__cover_link">
            <img src="{% static that_user.image  %}">
        </div>
        <h1 class="profile__tit">
        <span class="profile__name">{{ that_user.user_nickname }}</span>
        </h1>
        <ul class="mod_user_statistic">
            <li class="user_statistic__item">
                <a href="{% url 'my_music:attention' %}?user={{ that_user.user_id }}"><strong>{{ that_user.attention }}</strong><span>关注</span></a>
            </li>
            <li>
                <a href="{% url 'my_music:fans' %}?user={{ that_user.user_id }}"><strong>{{ that_user.Fan }}</strong><span>粉丝</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="song">
    <div class="song_top">
        <a class="my_like my_like_box" href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}">喜欢</a>
        <a class="my_like my_like_box" href="{% url 'my_music:my_song_menu' %}?user={{ that_user.user_id }}">歌单</a>
        <a class="my_like" href="{% url 'my_music:attention' %}?user={{ that_user.user_id }}">关注</a>
        <a class="my_like" href="{% url 'my_music:fans' %}?user={{ that_user.user_id }}">粉丝</a>
    </div>



    <div class="js_box" id="focus_box" style="display: block;">
        <div class="profile_cont">
        {% if  list %}
            <div class="js_sub" id="focus_singer_box" style="display: block;">
                <div class="mod_singer_list mod_singer_list--fans">
                    <ul class="singer_list__list">
                        {% for user in list %}
                        <li class="singer_list__item">
                            <div class="singer_list__item_box">
                                <a href="{% url 'my_music:my_music' %}?user={{ user.user_id }}" class="singer_list__cover js_singer" hidefocus="true">
                                    <img class="singer_list__pic" src="{% static user.image %}" onerror="this.src=&#39;" alt="张杰">
                                </a>
                                <h3 class="singer_list__title"><a href="" class="js_singer" title="{{ user.user_nickname }}">{{ user.user_nickname }}</a></h3>
                                <p class="singer_list__info">{{ user.Fan }}人关注</p>
                                <div class="singer_list__focus">
                                    <a href="javascript:;" class="mod_btn singer_list__btn_focus js_follow_singer" >
                                        <span class="btn_focus__cont"><i class="mod_btn__icon_yes"></i>已关注</span>

                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="focus_not_user_fans" style="display: block;" id="focus_user_box">

                    <div class="none_txt_fans">


                        <p>还没有粉丝... </p>

                    </div>

            </div>
        {% endif %}
        </div>
    </div>

</div>
{% endblock %}





