{% load static %}
{% for music in music_list %}
    <div class="rows" data-this_user="{{ this_user.user_id }}" data-that_user="{{ that_user.user_id }}">
        <ul>
            <li>
                <div class="music_name">
                    <a class="music_a">{{ music.music_name }}</a>
                    <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                    <div class="add"><a class="add_a"></a></div>
                    <div class="play" data-music_path="{{ music.music_path }}">
                        <a href="{% url 'player:player' %}?list_id={{ music.list_id }}" class="play_a" target="player_window"></a>
                    </div>
                </div>
            </li>
            <li><div class="singer"><label>{{ music.singer }}</label></div></li>
            <li><div class="album"><a><p>{{ music.music_name | default:'无名'}}</p></a></div></li>
            <li><div class="time"><label>{{ music.length_time | default:'3:00'}}</label></div></li>
            <li><div class="single-delete-music" data-sheet="{{ sheet_name }}" data-music_id="{{ music.list_id }}"></div></li>
        </ul>
    </div>
{% endfor %}
<script>
    let ELEMENT = {
        rows: '.rows',
        linkDownload: '.download_a',
        linkAdd: '.add_a',
        linkPlay: '.play_a',
        addToSheet: '.mod_btn js_all_fav',
        singleDeleteMusic: '.single-delete-music',
        time: '.time',
    };
    $(ELEMENT.rows).mouseover(function (e) {
        $(this).find(ELEMENT.linkDownload).css('display', 'block');
        $(this).find(ELEMENT.linkAdd).css('display', 'block');
        $(this).find(ELEMENT.linkPlay).css('display', 'block');
        this_user = $(this).data('this_user');
        that_user = $(this).data('that_user');
        if(this_user === that_user){
            $(this).find(ELEMENT.time).css('display', 'none');
            $(this).find(ELEMENT.singleDeleteMusic).css('display', 'block');
        }
    });
    $(ELEMENT.rows).mouseout(function (e) {
        $(this).find(ELEMENT.linkDownload).css('display', 'none');
        $(this).find(ELEMENT.linkAdd).css('display', 'none');
        $(this).find(ELEMENT.linkPlay).css('display', 'none');
        $(this).find(ELEMENT.time).css('display', 'block');
        $(this).find(ELEMENT.singleDeleteMusic).css('display', 'none');
    });
    $(ELEMENT.singleDeleteMusic).click(function () {
        musicId = $(this).data('music_id');
        sheet_id = $(this).data('sheet');
        $.post('/my_music/del_music/', {'music': musicId, 'sheet': sheet_id}, function(response, status, xhr) {
            $('.list_content').html(response)
        })
    })
</script>