{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/music_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static 'css/my_music.css'%}" />


{% endblock %}

    start mod_profile
{% block main %}

<div class="mod_profile" style="">
    <div class="section_inner">
        <div class="profile__cover_link">
            <img src="{% static that_user.image  %}">
        </div>
        <h1 class="profile__tit">
        <span class="profile__name">{{ that_user.user_nickname }}</span>
        </h1>
        <ul class="mod_user_statistic">
            <li class="user_statistic__item">
                <a href="{% url 'my_music:attention' %}?user={{ that_user.user_id }}"><strong>{{ that_user.attention }}</strong><span>关注</span></a>
            </li>
            <li>
                <a href="{% url 'my_music:fans' %}?user={{ that_user.user_id }}"><strong>{{ that_user.Fan }}</strong><span>粉丝</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="song">
    <div class="song_top">
        <a class="my_like my_like_box" href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}">喜欢</a>
        <a class="my_like my_like_box" href="#">歌单</a>
        <a class="my_like" href="{% url 'my_music:attention' %}?user={{ that_user.user_id }}">关注</a>
        <a class="my_like" href="{% url 'my_music:fans' %}?user={{ that_user.user_id }}">粉丝</a>
    </div>
    <div class="new-sheet"><i class="add_img"></i>
        <img src="../../../static/images/add_song.png" class="add_song">
        <label class="new_song">新建歌单</label>
    </div>
    <div class="mod_playlist_text js_list" style="display:;">
		<ul class="playlist__header">
			<li class="playlist__header_name">歌单</li>
			<li class="playlist__header_number">曲目数</li>
			<li class="playlist__header_other">收听</li>
		</ul>
        <div class="like">
            <div class="playlist_cover">
                <a href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}"><img src="../../../static/images/cover_like.png" alt="我喜欢"></a>
            </div>
            <a href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}" class="playlist_my_like">喜欢</a>
            <span class="my_like_num">{{ like_count }}首</span>
        </div>
        <div class="sheet-list">
            <ul class="playlist_main">
                {% for sheet in sheet_list %}
                    <li class="playlist">
                        <div class="playlist_cover">
                        <a href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}&sheet={{ sheet.sheet_id }}"><img src="{% static sheet.sheet_pic %}" alt="我喜欢"></a>
                        </div>
                        <a href="{% url 'my_music:my_music' %}?user={{ that_user.user_id }}&sheet={{ sheet.sheet_id }}" class="playlist_my_like">{{ sheet.sheet_name }}</a>
                        <span class="playlist_num">{{ sheet.sheet_num }}首</span>
                        <div data-this_user="{{ this_user.user_id }}" data-that_user="{{ that_user.user_id }}" class="del-list-icon" data-sheet_id="{{ sheet.sheet_id }}"></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
	</div>
        <script type="text/javascript" src="{% static 'js/sheet.js' %}"></script>
</div>
{% endblock %}





