{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
        .client{
            margin:0 auto;
        }
        .client p{
            margin-top:80px;
            font-size:36px;
            font-family:"黑体";
            margin-bottom: 50px;

            }
        body{

            background:#FAFEFF;

        }
    </style>
{% endblock %}
{% block main %}
     <div class="client">
        <p align="center"><img src="{% static 'images/client01.png' %}" width="" height="" border="0" alt=""></p>
        <p align="center" class="c1">&nbsp&nbsp&nbsp此模块正在研发中，敬请期待！欢迎小伙伴来加入！Come&nbsp;Baby!!</p>
      </div>
{% endblock %}