{% load static  %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>player</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <style>





        </style>
    </head>
    <body>
        <div id="pic_bg"></div>
        <div id="main_bg">
            <div class="title"><h1>海螺音乐</h1></div>
            <div class="user_msg"><img src="{{ user.image }}" alt="无法显示"></div>
            <div class="main">
                <div class="list">
                    <div class="func_btn">
                        <a class="btn1"><i class="img_collect"></i><span>收藏</span></a>
                        <a class="btn2"><i class="img_add"></i><span>添加到</span></a>
                        <a class="btn3"><i class="img_download"></i><span>下载</span></a>
                        <a class="btn4"><i class="img_delete"></i><span>删除</span></a>
                        <a class="btn5"><i class="img_flush"></i><span>清空列表</span></a>
                    </div>
                    <form>
                        <div class="music_list">
                        <ul>
                            <li class="list_title">
                                <div class="title_music">
                                    <div class="check"><input type="checkbox"></div>
                                    <div class="title-music-label"><label>歌曲</label></div>
                                </div>
                                <div class="title_singer"><label>歌手</label></div>
                                <div class="title_time"><label>时长</label></div>
                            </li>
    {#                        {% for music in music_list %}#}
                                <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                            <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                                                    <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>
                                    <li>
                                    <div class="music-recording">
                                        <div class="music">
                                            <div class="check"><input type="checkbox"></div>
                                            <div class="music_name"><label>往后余生</label></div>
                                            <div class="delete"><a class="delete_a"></a></div>
                                            <div class="download"><a class="download_a" href="{% static music.music_path %}" download="{{ music.music_name }}.mp3"></a></div>
                                            <div class="add"><a class="add_a"></a></div>
                                            <div class="play" data-music_path="{{ music.music_path }}"><a class="play_a"></a></div>
                                        </div>
                                        <div class="singer"><a>周杰伦</a></div>
                                        <div class="time"><label>3:00</label></div>
                                    </div>
                                </li>

    {#                        {% endfor %}#}
                        </ul>
                    </div>
                    </form>
                </div>
                <div class="music_message">
                    <div class="singer_message">
                        <div class="singer_msg_pic"><img src="{% static 'images/zj.jpg' %}"></div>
                        <div class="music_msg_name">歌曲名: <a href="#">归去来兮</a></div>
                        <div class="singer_msg_name">歌手名: <a>周杰伦</a></div>
                        <div class="album_msg_name">专辑名: <a href="#">归去来兮</a></div>
                    </div>
                    <div class="lyrics"></div>
                </div>
                <div class="channel">
                    <div class="menu-bar">
                        <div class="pre"></div>
                        <div class="audio_play"></div>
                        <div class="next"></div>
                    </div>
                    <div class="progress-bar">
                        <div class="play_music">
                            <a class="playing-music" href="#">往后余生</a>
                            -
                            <a class="playing-singer" href="#">周杰伦</a></div>
                        <div class="play_time">
                            <span class="progress-span1">00:00</span>
                            /
                            <span class="progress-span2">00:00</span>
                        </div>
                        <div class="progress"></div>
                        <div class="progress-runaway"></div>
                        <div class="progress-btn"></div>
                    </div>
                    <div class="func_menu">
                        <div class="method"></div>
                        <div class="like"></div>
                        <div class="play_download"></div>
                    </div>
                    <div class="volume-bar">
                        <div class="volume-progress"></div>
                        <div class="volume-runaway"></div>
                        <div class="volume-btn-mobile"></div>
                        <div class="volume-btn"></div>
                        <div class="div_like"></div>
                        <div class="div_download"></div>
                        <div class="div_while"></div>
                    </div>
                </div>
                <audio id="audio"  src="{% static 'music/周杰伦/青花瓷.mp3' %}">
                </audio>
                <script type="text/javascript" src="{% static 'js/player.js' %}"></script>
            </div>
        </div>
    </body>
</html>