.list_header{
    width:1200px;
    height:50px;
    margin: 40px auto 10px;
}
.list_header ul{
    display: block;
    width: inherit;
    height: 50px;
    margin: 0;
    padding: 0;
}
.list_header li{
    display: inline-block;
    padding-top: 10px;
    color: #999999;
}
.li_music{
    width: 50%;
}
.li_singer{
    width: 20%;
}
.li_album{
    width: 24%;
}
.li_time{
    width: 3%;
}

.rows{
    width: 1200px;
    height: 50px;
    margin: 10px auto;
}
.row ul{
    display: block;
    width: inherit;
    height: 50px;
    margin: 0;
    padding: 0;
}
.row li{
    display: inline-block;
}
.music_name{
    padding-right: 1%;
    float: left;
    width: 49%;
    padding-top: 10px;
}
.music_a{
    display: block;
    float:left;
    height: 100%;
    padding: 10px 0;
}
.download{
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px;
    /*background: #000000;*/
}
.download_a{
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background: black;*/
    background: url('../images/download_1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.download_a:hover{
    background: url('../images/download_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.add{
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.add_a{
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background: black;*/
    background: url('../images/add_1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.add_a:hover{
    background: url('../images/add_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.play{
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.play_a{
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background: black;*/
    background: url('../images/play_1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.play_a:hover{
    background: url('../images/play_2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.singer{
    float: left;
    width: 20%;
    padding-top: 10px;
    color: #31C27C;
}
.singer label{
    display: block;
    padding: 10px 0 10px 0;
}
.time label{
    display: block;
    padding: 10px 0 10px 0;
}
.album{
    float: left;
    width: 25%;
    padding-top: 10px;
}
.album a{
    display: block;
    padding: 10px 0 10px 0;
}
.album a p{
    width: 10em; /*保证文字不会被半汉字截断,显示10个文字*/
    overflow: hidden; /*超出长度的文字隐藏*/
    text-overflow: ellipsis; /*文字隐藏以后添加省略号*/
    white-space: nowrap;
}
.time{
    display: block;
    float: left;
    width: 3%;
    padding-top: 10px;
    color: #31C27C;
}
.single-delete-music{
    cursor: pointer;
    margin-top: 12px;
    width: 40px;
    height: 40px;
    float: left;
    display: none;
    background-image: url("../images/sheet_del_2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.single-delete-music:hover{
    background-image: url("../images/sheet_del_1.png");
}

