{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block head %}
<style type="text/css">
    .member{
        margin: 0 auto;
    }
    .member p{
        margin-top:80px;
        font-size:27px;
        font-family:"黑体";
    }
    body{
        background:#FAFEFF;
    }
    .c1{
        color:rgb(127,136,143);
        margin-top:0px;
    }
  </style>
{% endblock %}
{% block main%}
     <div class="member">
        <p align="center"><img src="{% static 'images/member_1.png' %}" width="" height="" border="0" alt=""></p>
        <p align="center" class="c1">&nbsp&nbsp&nbsp啥条件呀，充会员，免费送啦!</p>
     </div>
{% endblock %}